# MkDocs configuration for builds with material theme

INHERIT: mkdocs-base.yml

site_url: "https://docs.percona.com/percona-backup-mongodb"


theme:
  name: material
  custom_dir: _resourcepdf/overrides


extra:
  # Google Analytics configuration
  analytics:
    provider: google
    property: G-J4J70BNH0G
