[data-md-color-scheme="percona-light"] {
  --md-primary-fg-color:        #e97e03;
  --md-primary-fg-color--light: #ECB7B7;
  --md-default-fg-color--lightest: #eba926;
  --md-primary-fg-color--dark:  #90030C;
  --md-typeset-a-color: var(--md-primary-fg-color);
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #e97e03;
    /*
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    */
    --md-hue: 210; /* [0, 360] */
  }
ul li p {
	margin: 0;
}

.md-typeset {
  font-size: .7rem;
  line-height: 1.6;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --md-text-font-family: var(--md-text-font, _), -apple-system, Chivo, Colfax, Franziska, sans-serif;
    --md-code-font-family:var(--md-code-font, _), SFMono-Regular, Consolas, Menlo, monospace
}


/*.git-revision-date-localized-plugin:before {
  content: url('https://api.iconify.design/mdi/clock-edit-outline.svg');
}*/
